.formtop {
  border: #999 solid 1px;
  border-bottom: #CCC solid 1px;
  background: #F0F0F0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.form {
  border: #999 solid 1px;
  border-top: #CCC solid 1px;
  background: #F5F5F5;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.MainFormClosed {
  position: fixed;
  transition: 1s;
  width: 100%;
  padding-bottom: 100vh;
  top: -250%;
  left: 0%;
  z-index: 1000;
}
.MainFormOpened {
  position: fixed;
  transition: 1s;
  width: 100%;
  padding-bottom: 100vh;
  top: 0%;
  left: 0%;
  z-index: 1000;

  background-color: rgba(100,100,100,0.5);
}
