.slick-prev:before, .slick-next:before {
  color: black;
}

.header {
  border: 1px solid #555;
  background: #AAA;
}
.header__logo {
  border-radius: 7px;
  border: #555 solid 1px;
}
.header__h1_fontSize-2rem {
  font-size: 1.9rem;
}

.bg-danger {
  background-color: #FAA !important;
}

#hide {
  width: 100%;
  height: 100%;
}
